fastapi
uvicorn
google-generativeai
python-dotenv
pydantic
requests
jira
deepeval
playwright
sqlalchemy
psycopg2-binary
pydantic-settings
alembic
langchain
langchain-community
langchain-openai
faiss-cpu
pypdf
langchain-text-splitters
google-generativeai
langchain-google-genai
langchain-huggingface
sentence-transformers
pydantic-settings
langchain_huggingface
beautifulsoup4
unstructured[pdf]
redis
langsmith
asyncpg
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
cryptography
httpx
fastapi-mail
langgraph-checkpoint-postgres 
psycopg[binary,pool]
langchain_openrouter
langchain-mcp-adapters
