fastapi
uvicorn
google-generativeai
python-dotenv
pydantic
pydantic-settings
requests
jira
deepeval
playwright
sqlalchemy
psycopg2-binary
asyncpg
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
cryptography
httpx
fastapi-mail