@if(item.navCap) {
  <div mat-subheader class="nav-caption">
    {{ item.navCap }}
  </div>
  @if(item.divider) {
    <mat-divider class="sidebar-divider"></mat-divider>
  }
}

@if(!item.navCap && !item.external) {
  <a 
    mat-list-item 
    (click)="onItemSelected(item)" 
    [ngClass]="{
      activeMenu: item.route ? router.isActive(item.route, true) : false,
      expanded: expanded
    }" 
    class="menu-list-item"
    [matTooltip]="isCollapsed ? item.displayName : ''"
    [matTooltipPosition]="'right'">
    
    <span class="routeIcon" matListItemIcon>
      <i [attr.data-icon]="item.iconName" class="iconify icon-18"></i>
    </span>
    
    <span class="hide-menu">{{ item.displayName }}</span>
    
    @if(item.children && item.children.length) {
      <span class="arrow-icon">
        <mat-icon>expand_more</mat-icon>
      </span>
    }
  </a>
}

<!-- Children -->
@if(expanded && !isCollapsed) {
  @for(child of item.children; track child) {
    <app-nav-item 
      [item]="child" 
      [isCollapsed]="false"
      (click)="onSubItemSelected(child)" 
      [depth]="depth + 1">
    </app-nav-item>
  }
}