<div class="blue_theme light-theme" dir="ltr">
  <mat-sidenav-container autosize>
    <!-- Sidebar -->
    <mat-sidenav 
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="sidebarOpened"
      [fixedInViewport]="isMobile"
      [fixedTopGap]="0"
      [class.sidebarNav-collapsed]="!isMobile && isCollapsed"
      class="sidebarNav">
      
      <div class="flex-layout">
        <app-sidebar [isCollapsed]="!isMobile && isCollapsed"></app-sidebar>
        
        <!-- Remplacer ng-scrollbar par une div simple -->
        <div class="sidebar-scroll-container">
          <mat-nav-list class="sidebar-list">
            @for(item of navItems; track item) {
              <app-nav-item 
                [item]="item" 
                [isCollapsed]="!isMobile && isCollapsed"
                (notify)="closeSidebarOnMobile()">
              </app-nav-item>
            }
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="contentWrapper">
      <app-header 
        [isSidebarCollapsed]="!isMobile && isCollapsed"
        (toggleSidebar)="toggleSidebar()">
      </app-header>

      <div class="body-wrapper">
        <main class="pageWrapper maxWidth">
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>